SCG_IVRBridge/WebContent/META-INF/wsdl/E92685CC.wsdl

<wsdl:definitions name="E92685CC" targetNamespace="file://target.files" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://ns.sempra.com/OpEx/CC/eServices/getMemoPost/Request/1.0" xmlns:xsd2="http://ns.sempra.com/OpEx/CC/eServices/getMemoPostr/Response/1.0">
  <wsdl:types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/getMemoPost/Request/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/getMemoPost/Request/1.0">
      <complexType name="REQUEST">
        <sequence>
          <element form="qualified" name="getMemoPostRequest" type="cbl:getMemoPostRequest"/>
        </sequence>
      </complexType>
      <complexType name="getMemoPostRequest">
        <sequence>
          <element form="qualified" name="reqOperationCd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="channelType">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="databaseName">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="reqBaId">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="REQUEST" type="cbl:REQUEST">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">10.0.4.V20121117_0230</documentation>
        </annotation>
      </element>
    </schema>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/getMemoPostr/Response/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/getMemoPostr/Response/1.0">
      <complexType name="RESPONSE">
        <sequence>
          <element form="qualified" name="getMemoPostResponse" type="cbl:getMemoPostResponse"/>
        </sequence>
      </complexType>
      <complexType name="getMemoPostResponse">
        <sequence>
          <element form="qualified" name="respOperationCd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="returnCd">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="errorMsg">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="100"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="applErrorCd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="systemErrorCd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="respBaId">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="totalPendingPaymentAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="numberOfPendingPayments">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" maxOccurs="6" minOccurs="6" name="pendingPaymentTable" type="cbl:pendingPaymentTable"/>
        </sequence>
      </complexType>
      <complexType name="pendingPaymentTable">
        <sequence>
          <element form="qualified" name="pendingPaymentAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="pendingPaymentDt">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="pendingPaymentTm">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="pendingPaymentChannel">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="RESPONSE" type="cbl:RESPONSE">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">10.0.4.V20121117_0230</documentation>
        </annotation>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getMemoPostRequest">
    <wsdl:part element="xsd1:REQUEST" name="REQUESTPart"/>
  </wsdl:message>
  <wsdl:message name="getMemoPostResponse">
    <wsdl:part element="xsd2:RESPONSE" name="RESPONSEPart"/>
  </wsdl:message>
  <wsdl:portType name="E92685CCPortType">
    <wsdl:operation name="getMemoPost">
      <wsdl:input message="tns:getMemoPostRequest" name="getMemoPostRequest"/>
      <wsdl:output message="tns:getMemoPostResponse" name="getMemoPostResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="E92685CCBinding" type="tns:E92685CCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMemoPost">
      <soap:operation soapAction="urn:E92685CC" style="document"/>
      <wsdl:input name="getMemoPostRequest">
        <soap:body parts="REQUESTPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMemoPostResponse">
        <soap:body parts="RESPONSEPart" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getMemoPost">
    <wsdl:port binding="tns:E92685CCBinding" name="E92685CCPort">
      <soap:address location="https://soagwd.sempra.com/OpEx/CC/eServices/GetPaymentMemoPost/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>