SCG_IVRBridge/WebContent/META-INF/wsdl/E92670CC.wsdl

<wsdl:definitions name="E92670CC" targetNamespace="file://target.files" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://ns.sempra.com/OpEx/CC/eServices/Priorities/Request/1.0" xmlns:xsd2="http://ns.sempra.com/OpEx/CC/eServices/Priorities/Response/1.0">
  <wsdl:types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/Priorities/Request/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/Priorities/Request/1.0">
      <complexType name="REQUEST">
        <sequence>
          <element form="qualified" name="tailoredTreatemntsRequest" type="cbl:tailoredTreatemntsRequest"/>
        </sequence>
      </complexType>
      <complexType name="tailoredTreatemntsRequest">
        <sequence>
          <element form="qualified" name="reqOperationCd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="channelType">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="databaseName">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="RequestMessage" type="cbl:REQUEST">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">8.1.0.V200810141930</documentation>
        </annotation>
      </element>
    </schema>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/Priorities/Response/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/Priorities/Response/1.0">
      <complexType name="RESPONSE">
        <sequence>
          <element form="qualified" name="tailoredTreatmentsResponse" type="cbl:tailoredTreatmentsResponse"/>
        </sequence>
      </complexType>
      <complexType name="tailoredTreatmentsResponse">
        <sequence>
          <element form="qualified" name="respOperationCd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="returnCd">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="errorMsg">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="100"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="applErrorCd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="systemErrorCd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="priorityInformation" type="cbl:priorityInformation"/>
        </sequence>
      </complexType>
      <complexType name="priorityInformation">
        <sequence>
          <element form="qualified" name="tatrPriorityOne">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="40"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="tatrPriorityTwo">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="40"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="tatrPriorityThree">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="40"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="tatrPriorityFour">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="40"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="tatrPriorityFive">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="40"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="ResponseMessage" type="cbl:RESPONSE">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">8.1.0.V200810141930</documentation>
        </annotation>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="getPrioritiesDataRequestRequest">
    <wsdl:part element="xsd1:RequestMessage" name="REQUESTPart"/>
  </wsdl:message>
  <wsdl:message name="getPrioritiesDataRequestResponse">
    <wsdl:part element="xsd2:ResponseMessage" name="RESPONSEPart"/>
  </wsdl:message>
  <wsdl:portType name="E92670CCPortType">
    <wsdl:operation name="getPrioritiesDataRequest">
      <wsdl:input message="tns:getPrioritiesDataRequestRequest" name="getPrioritiesDataRequestRequest"/>
      <wsdl:output message="tns:getPrioritiesDataRequestResponse" name="getPrioritiesDataRequestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="E92670CCBinding" type="tns:E92670CCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getPrioritiesDataRequest">
      <soap:operation soapAction="urn:E92670CC" style="document"/>
      <wsdl:input name="getPrioritiesDataRequestRequest">
        <soap:body parts="REQUESTPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPrioritiesDataRequestResponse">
        <soap:body parts="RESPONSEPart" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getPrioritiesData">
    <wsdl:port binding="tns:E92670CCBinding" name="E92670CCPort">
      <soap:address location="https://soagwq1.sempra.com/OpEx/CC/eServices/Priorities/E92670CC/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>