SCG_IVRBridge/WebContent/META-INF/wsdl/E92630CC.wsdl

<wsdl:definitions name="E92630CC" targetNamespace="file://target.files" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://ns.sempra.com/OpEx/CC/eServices/PaymentFunctions/Request/1.0" xmlns:xsd2="http://ns.sempra.com/OpEx/CC/eServices/PaymentFunctions/Response/1.0">
  <wsdl:types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/PaymentFunctions/Request/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/PaymentFunctions/Request/1.0">
      <complexType name="REQUEST">
        <sequence>
          <element name="payment_services_request_data" type="cbl:PAYMENT_SERVICES_REQUEST_DATA"/>
        </sequence>
      </complexType>
      <complexType name="PAYMENT_SERVICES_REQUEST_DATA">
        <sequence>
          <element form="qualified" name="req_operation_cd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_channel_type">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_database_name">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_ba_id">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_simple_pay_type">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_amount">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_agency_ty_cd">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_cust_bank_acct_nbr">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="17"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_language_cd">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_simple_pay_term_dt">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="REQUEST" type="cbl:REQUEST">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">7.26.0.V200711021424</documentation>
        </annotation>
      </element>
    </schema>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/PaymentFunctions/Response/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/PaymentFunctions/Response/1.0">
      <complexType name="RESPONSE">
        <sequence>
          <element name="payment_services_response_data" type="cbl:PAYMENT_SERVICES_RESPONSE_DATA"/>
        </sequence>
      </complexType>
      <complexType name="PAYMENT_SERVICES_RESPONSE_DATA">
        <sequence>
          <element form="qualified" name="resp_pymt_serv_oper_cd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_return_code">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_error_msg">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="100"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_appl_error_cd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_system_error_cd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_ba_id">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element name="simple_pay_data" type="cbl:SIMPLE_PAY_DATA"/>
          <element name="demand_pay_data" type="cbl:DEMAND_PAY_DATA"/>
        </sequence>
      </complexType>
      <complexType name="SIMPLE_PAY_DATA">
        <sequence>
          <element form="qualified" name="resp_simple_pay_debit_amt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_simple_pay_nxt_sched_dt">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_simple_pay_status">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <complexType name="DEMAND_PAY_DATA">
        <sequence>
          <element form="qualified" name="resp_vrfy_ban_acct_match_sw">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_dmd_pay_max_pymt_amt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_dmd_pay_min_col_amt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_dmd_pay_cc_in_fld_sw">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element name="resp_dmd_pay_confirmation_nbr" type="cbl:RESP_DMD_PAY_CONFIRMATION_NBR"/>
        </sequence>
      </complexType>
      <complexType name="RESP_DMD_PAY_CONFIRMATION_NBR">
        <sequence>
          <element form="qualified" name="resp_dmd_cn_cd">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_dmd_cn_julian_dt">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_dmd_cn_dollar_range">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_dmd_cn_ck_digit">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="1"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="RESPONSE" type="cbl:RESPONSE">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">7.26.0.V200711021424</documentation>
        </annotation>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="createPaymentFunctionsRequestRequest">
    <wsdl:part element="xsd1:REQUEST" name="REQUESTPart"/>
  </wsdl:message>
  <wsdl:message name="createPaymentFunctionsRequestResponse">
    <wsdl:part element="xsd2:RESPONSE" name="RESPONSEPart"/>
  </wsdl:message>
  <wsdl:portType name="E92630CCPortType">
    <wsdl:operation name="createPaymentFunctionsRequest">
      <wsdl:input message="tns:createPaymentFunctionsRequestRequest" name="createPaymentFunctionsRequestRequest"/>
      <wsdl:output message="tns:createPaymentFunctionsRequestResponse" name="createPaymentFunctionsRequestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="E92630CCBinding" type="tns:E92630CCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createPaymentFunctionsRequest">
      <soap:operation soapAction="urn:E92630CC" style="document"/>
      <wsdl:input name="createPaymentFunctionsRequestRequest">
        <soap:body parts="REQUESTPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPaymentFunctionsRequestResponse">
        <soap:body parts="RESPONSEPart" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="createPaymentFunctions">
    <wsdl:port binding="tns:E92630CCBinding" name="E92630CCPort">
      <soap:address location="https://soagwq1.sempra.com/OpEx/CC/eServices/PaymentFunctions/E92630CC/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>