SCG_IVRBridge/WebContent/META-INF/wsdl/E92650CC.wsdl

<wsdl:definitions name="E92650CC" targetNamespace="file://target.files" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="file://target.files" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://ns.sempra.com/OpEx/CC/eServices/CustReadFunctions/Request/1.0" xmlns:xsd2="http://ns.sempra.com/OpEx/CC/eServices/CustReadFunctions/Response/1.0">
  <wsdl:types>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/CustReadFunctions/Request/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/CustReadFunctions/Request/1.0">
      <complexType name="REQUEST">
        <sequence>
          <element name="read_services_request_data" type="cbl:READ_SERVICES_REQUEST_DATA"/>
        </sequence>
      </complexType>
      <complexType name="READ_SERVICES_REQUEST_DATA">
        <sequence>
          <element form="qualified" name="req_operation_cd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_channel_type">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_database_name">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_ba_id">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_read_dt">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="req_customer_read">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="6"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="REQUEST" type="cbl:REQUEST">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">7.26.0.V200711021424</documentation>
        </annotation>
      </element>
    </schema>
    <schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/CustReadFunctions/Response/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/CustReadFunctions/Response/1.0">
      <complexType name="RESPONSE">
        <sequence>
          <element name="read_services_response_data" type="cbl:READ_SERVICES_RESPONSE_DATA"/>
        </sequence>
      </complexType>
      <complexType name="READ_SERVICES_RESPONSE_DATA">
        <sequence>
          <element form="qualified" name="resp_read_serv_oper_cd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_return_code">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_error_msg">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="100"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_appl_error_cd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_system_error_cd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_ba_id">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_read_prorated_ccf">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_read_prorated_read">
            <simpleType>
              <restriction base="int">
                <minInclusive value="0"/>
                <maxInclusive value="9999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_read_daily_qty">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="14"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="resp_read_diff_days">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="999"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="RESPONSE" type="cbl:RESPONSE">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">7.26.0.V200711021424</documentation>
        </annotation>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="createCustReadFunctionsRequestRequest">
    <wsdl:part element="xsd1:REQUEST" name="REQUESTPart"/>
  </wsdl:message>
  <wsdl:message name="createCustReadFunctionsRequestResponse">
    <wsdl:part element="xsd2:RESPONSE" name="RESPONSEPart"/>
  </wsdl:message>
  <wsdl:portType name="E92650CCPortType">
    <wsdl:operation name="createCustReadFunctionsRequest">
      <wsdl:input message="tns:createCustReadFunctionsRequestRequest" name="createCustReadFunctionsRequestRequest"/>
      <wsdl:output message="tns:createCustReadFunctionsRequestResponse" name="createCustReadFunctionsRequestResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="E92650CCBinding" type="tns:E92650CCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createCustReadFunctionsRequest">
      <soap:operation soapAction="urn:E92650CC" style="document"/>
      <wsdl:input name="createCustReadFunctionsRequestRequest">
        <soap:body parts="REQUESTPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCustReadFunctionsRequestResponse">
        <soap:body parts="RESPONSEPart" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="createCustReadFunctions">
    <wsdl:port binding="tns:E92650CCBinding" name="E92650CCPort">
      <soap:address location="https://soagwq1.sempra.com/OpEx/CC/eServices/CustReadFunctions/E92650CC/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>