SCG_IVRBridge/WebContent/META-INF/wsdl/E92663CC.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="E92663CC" targetNamespace="file://target.files" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="file://target.files" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://ns.sempra.com/OpEx/CC/eServices/ReconnectAmount/Request/E92663CC/1.0" xmlns:xsd2="http://ns.sempra.com/OpEx/CC/eServices/ReconnectAmount/Response/E92663CC/1.0">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/ReconnectAmount/Request/E92663CC/1.0" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/ReconnectAmount/Request/E92663CC/1.0">
      <complexType name="REQUEST">
        <sequence>
          <element form="qualified" name="fnpAmountRequest" type="cbl:fnpAmountRequest"/>
        </sequence>
      </complexType>
      <complexType name="fnpAmountRequest">
        <sequence>
          <element form="qualified" name="reqOperationCd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="channelType">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="databaseName">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="baId">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="REQUEST" type="cbl:REQUEST">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">11.2.100.V20150821_1022</documentation>
        </annotation>
      </element>
    </schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ns.sempra.com/OpEx/CC/eServices/ReconnectAmount/Response/E92663CC/1.0" xmlns:cbl="http://ns.sempra.com/OpEx/CC/eServices/ReconnectAmount/Response/E92663CC/1.0">
      <complexType name="RESPONSE">
        <sequence>
          <element form="qualified" name="fnpAmountResponse" type="cbl:fnpAmountResponse"/>
        </sequence>
      </complexType>
      <complexType name="fnpAmountResponse">
        <sequence>
          <element form="qualified" name="respOperationCd">
            <simpleType>
              <restriction base="short">
                <minInclusive value="0"/>
                <maxInclusive value="9999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="returnCd">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="2"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="errorMsg">
            <annotation>
              <appinfo source="http://www.wsadie.com/appinfo">
                <initialValue kind="SPACE"/>
              </appinfo>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="100"/>
                <whiteSpace value="collapse"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="applErrorCd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="systemErrorCd">
            <simpleType>
              <restriction base="int">
                <minInclusive value="-999999"/>
                <maxInclusive value="999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="respBaId">
            <simpleType>
              <restriction base="long">
                <minInclusive value="0"/>
                <maxInclusive value="9999999999"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="fnpAmountData" type="cbl:fnpAmountData"/>
        </sequence>
      </complexType>
      <complexType name="fnpAmountData">
        <sequence>
          <element form="qualified" name="delinqAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="addlDepositAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="pendPaymentAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="paymentAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="totalPaymentAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="reconnectFeeAmt">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
          <element form="qualified" name="totAmountToReconnect">
            <simpleType>
              <restriction base="decimal">
                <minInclusive value="-999999999.99"/>
                <maxInclusive value="999999999.99"/>
              </restriction>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <element name="RESPONSE" type="cbl:RESPONSE">
        <annotation>
          <documentation source="com.ibm.etools.xmlent.batch">11.2.100.V20150821_1022</documentation>
        </annotation>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="createReconnectAmountRequest">
    <wsdl:part element="xsd1:REQUEST" name="REQUESTPart"/>
  </wsdl:message>
  <wsdl:message name="createReconnectAmountResponse">
    <wsdl:part element="xsd2:RESPONSE" name="RESPONSEPart"/>
  </wsdl:message>
  <wsdl:portType name="E92663CCPortType">
    <wsdl:operation name="createReconnectAmount">
      <wsdl:input message="tns:createReconnectAmountRequest" name="createReconnectAmountRequest"/>
      <wsdl:output message="tns:createReconnectAmountResponse" name="createReconnectAmountResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="E92663CCBinding" type="tns:E92663CCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createReconnectAmount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createReconnectAmountRequest">
        <soap:body parts="REQUESTPart" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createReconnectAmountResponse">
        <soap:body parts="RESPONSEPart" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="createReconnectAmount">
    <wsdl:port binding="tns:E92663CCBinding" name="E92663CCPort">
      <soap:address location="https://mvs3-ftp.pacent.com:3048/OpEx/CC/eServices/ReconnectAmount/E92663CC/1.0"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
